<div align="center">
  <label>Введите id:</label>
</div>
<div align="center">
  <input [(ngModel)]="id" placeholder="id">
</div>
<div align="center">
  <button (click)="onGet()">Получить список фактов</button>
</div>
<div align="center">
  <select name="sometext" [size]=2>
    <option *ngFor="let fact of facts">{{fact}}</option>
  </select>

</div>
