@font-face {
font-family: "Saira Condensed";
src: url("fonts/SairaCondensed-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  background-color: #9DB1CC;
}

select {
  width: 230px;
  height: 240px;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
}

button {
  margin: 10px;
  width: 230px;
  height: 35px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.16) 48.96%, rgba(255, 255, 255, 0) 76.04%), #8D93A1;
  border-radius: 10px;
  border: 1px solid #000000;
  font: normal 18px PT Serif;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

label {
  font-family: "Saira Condensed";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 38px;
  align-items: center;
  text-align: center;

  /* Basic font color */
  color: #000000;
}



input {
  width: 230px;
  border-radius: 5px;
}
