div
{
  font-family: "Saira Condensed";
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 38px;
  align-items: center;
  text-align: center;

  /* Basic font color */
  color: #000000;
}
